<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Order Summary</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container mt-5">
    <h2>Order Summary</h2>

    <!-- Success Message -->
    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
    <p>Your order has been placed successfully. Thank you for shopping with us!</p>

    <!-- Selected Items Summary Table -->
    <table class="table mt-4">
        <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, index : ${cartItems}">
            <th th:text="${index.count}"></th>
            <td><img class="cart-img" th:src="@{/{imageName}(imageName=${item.image})}" alt="Product Image"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.quantity * item.price}"></td>
            <td>
                <form th:action="@{/remove}" method="post">
                    <input type="hidden" name="index" th:value="${index.index}">
                    <button class="btn btn-danger" type="submit">X</button>
                </form>
        <tr>
            <th colspan="4" class="text-end">Order Total</th>
            <td th:text="${orderTotal}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Continue Shopping Button -->
    <a href="/" class="btn btn-primary">Continue Shopping</a>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
